<html lang="en">
<head>
    <script src="resources/js/common/angular.min.js"></script>
    <script src="resources/js/common/angular-animate.min.js"></script>
    <script src="resources/js/common/angular-aria.min.js"></script>
    <script src="resources/js/common/angular-messages.min.js"></script>
    <script src="resources/js/common/angular-material.min.js"></script>
    <script src="resources/js/common/loading-bar.min.js"></script>
    <script src="resources/js/common/angular-route.min.js"></script>
    <link rel="stylesheet" href="resources/css/common/angular-material.min.css">
    <link rel="stylesheet" href="resources/css/common/loading-bar.min.css">
    <script language="javascript" src="resources/js/app/application.js" type="text/javascript"></script>
    <script language="javascript" src="resources/js/app/login.js" type="text/javascript"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="myApplication" class="container" ng-app="myApplication" ng-controller="menuCtrl" ng-init="init()">
    <div class="row">
        <div class="md-headline">
            <h4>Will miss you!</h4>
            <h5><a href="login.html">Login again...</a> </h5>
        </div>
    </div>
</div>
</body>
</html>
